<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .body {
            background-color: blueviolet;
        }
    </style>
    <!-- Optional theme -->
</head>

<body style="background-color: aquamarine;">
    <div class="jumbotron" style="color:black">

        <h1 style="color:blueviolet">
            Latest News from the Website (API Request Example)
        </h1>

    </div>


    <div class="container">
        {% for new, des, i in mylist %}
        <img src="{{ i }}" alt="">
        <h1>news:</h1> {{ new }} {{ value|linebreaks }}

        <h4>description:</h4>{{ des }} {{ value|linebreaks }} {% endfor %}
    </div>
    <br/>

</body>

</html>